@import 'normalize.css';
@import './variables.module.css';

:global(*) {
  box-sizing: border-box;
}

:global(html) {
  font-size: 62.5%; /* =10px */
}

:global(body) {
  color: var(--color-gray-900);
  font-family: var(--default-font);
  font-size: var(--font-body);
}
