.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.loginContainer {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}
