.editorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.emptyEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
